@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&family=Poppins:wght@500&display=swap');

.App {
  font-family: 'Quicksand', sans-serif;
}

.hero {
  margin: 50px 0px;
  padding: 50px 100px;
  height: fit-content;
  width: fit-content;
}

.hero-image {
  width: 40%;
  float: right;
  border-radius: 10px;
  /* border: 1px solid #ddd; */
  box-shadow: 0 0 10px #ddd;
}

.hero-text {
  float: left;
  width: 50%;
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  /* border: 1px solid #ddd; */
  box-shadow: 0 0 10px #ddd;
}

/* .hero-text h1, p {
  width: 70%;
} */